.app-item-container {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  margin: 5px;
  align-items: center;
  padding: 10px;
  border-radius: 5px;
  width: 140px;
  height: 130px;
}
.app-image {
  height: 70px;
  margin-bottom: 10px;
}

.app-name {
  font-family: 'Bree Serif';
  font-weight: 500;
}
